#backend
/backend/node_modules



/backend/.vscode/*

#frontend
# Logs
/frontend-vue/node_modules

/frontend-vue/logs
/frontend-vue/*.log
/frontend-vue/npm-debug.log*
/frontend-vue/yarn-debug.log*
/frontend-vue/yarn-error.log*
/frontend-vue/pnpm-debug.log*
/frontend-vue/lerna-debug.log*
/frontend-vue/.DS_Store
/frontend-vue/dist
/frontend-vue/dist-ssr
/frontend-vue/coverage
/frontend-vue/*.local
/frontend-vue/cypress/videos/
/frontend-vue/cypress/screenshots/

# Editor directories and files
/frontend-vue/.vscode/*
/frontend-vue/!.vscode/extensions.json
/frontend-vue/.idea
/frontend-vue/*.suo
/frontend-vue/*.ntvs*
/frontend-vue/*.njsproj
/frontend-vue/*.sln
/frontend-vue/*.sw?

/frontend-vue/*.tsbuildinfo


#root
.vscode/*

.env